@import "reset.scss";
@import "fonts.scss";

$black: #000000;
$white: #ffffff;
$grey: #6a727a;
$grey-second: #565e66;
$blue: #00aee6;
$blue-second: #33beeb;
$orange: #f8981d;
$green: #22d497;
$mont-reg: "Montserrat-Regular";
$mont-med: "Montserrat-Medium";
$mont-semb: "Montserrat-SemiBold";
$mont-bold: "Montserrat-Bold";
$gil-semb: "Gilroy-Semibold";
$man-reg: "Manrope-Regular";
$man-semb: "Manrope-SemiBold";
$man-bold: "Manrope-Bold";
$os-semb: "OpenSans-SemiBold";
$rob-reg: "Roboto-Regular";
$rob-med: "Roboto-Medium";

%dc {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin ifont ($a, $b, $c, $d) {
    font-family: ($a);
    font-size: ($b);
    line-height: ($c);
    color: ($d);
}

/*----------- Main ------------*/
html {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    font-family: "Montserrat", "Roboto", sans-serif;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1220px;
    margin: 0px auto;
    padding: 0px 20px;
}
.content {
    flex: 1 1 auto;
}
.btn {
    @include ifont($rob-med, 16px, 24px, $white);
    background-color: $orange;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    &:hover {
        background: #e28914;
    }
}

.policy {
    padding: 40px 0;
    background: #fff;
    color: #2d2c2d;
    font-family: $rob-reg;
    .policy-title {
        font-size: 2rem;
        font-weight: bold;
        line-height: 120%;
        margin-bottom: 2rem;
    }
    .p-title {
        font-size: 1.25rem;
        font-weight: bold;
        line-height: 120%;
        margin-bottom: 2rem;
    }
    p {
        font-size: 0.875rem;
        line-height: 120%;
        letter-spacing: 0.1rem;
        margin-bottom: 1rem;
    }
    .pad-left {
        padding: 0 0 0 40px;
    }
    a {
        color: $orange;
        &:hover {
            text-decoration: underline;
        }
    }
}

@import "header.scss";
@import "footer.scss";
