/*------------ Header ---------------*/
.header {
    background: rgba(55, 52, 169, 0.03);
    height: 80px;
    z-index: 9999;
    @media (max-width: 545px) {
        height: 110px;
    }
    .header__body {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 21px 0;
        .header__logo {
            text-transform: uppercase;
            @include ifont($mont-reg, 24px, 30px, $blue);
            @media (max-width: 545px) {
                margin-bottom: 10px;
            }
            span {
                font-family: $mont-semb;
                color: $orange;
            }
        }
        .header__menu {
            display: flex;
            .header__list {
                display: flex;
                align-items: center;
                gap: 50px;
                padding: 0 50px 0 0;
                @include ifont($mont-reg, 14px, 17px, $grey-second);
            }
            .header__link {
                color: $grey-second;
                &:hover {
                    // font-weight: bold;
                    // color: $black;
                    text-decoration: underline;
                }
            }
            .header__icon:hover .header__icon-path {
                fill: #7e868e;
            }
        }
    }
    .up__btn {
        padding: 20px;
        position: fixed;
        bottom: 10px;
        right: 20px;
        cursor: pointer;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s all;
        // @media (max-width: 1320px) {
        //     bottom: 90px;
        // }
        // @media (max-width: 440px) {
        //     bottom: 130px;
        // }
    }
    .up__btn.is__show {
        opacity: 1;
        visibility: visible;
    }
}
